.header-area {
    max-resolution: 0 auto;
    background-image: url(/images/header_image.jpg);
    /* display: inline-block; */
    border: 5px solid red;
}

.large-text {
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    margin-left: 100px;
    text-align: center;
    color: white;

    /* background-image: url(/images/header_image.jpg); */
    /* display: block; */

}

.help {
    text-decoration: none;
    /* margin-left: 650px; */
    padding: 10px;
    color: white;
    border-radius: 10px;

}

#btn {
    color: rgb(255, 255, 255);
    background-color: violet;
    margin-left: 600px;
    margin-bottom: 50px;
}